- form_for :skin, :html => { :multipart => true, :onsubmit_status=>"Adding new skin&#8230;" }, :url => admin_skins_path do |form|
  %h3 Upload A Template
  = form.file_field :archive, :size => "20", :class => "file_field"
  %div{:class => "below_input"}
    Search your file system for a skin archive. (.zip)
  = submit_tag "Upload Skin"
